node_modules
# Keep environment variables out of version control
.env
package-lock.json
package.json

# http://amertasql.na9n5bxaea-ewx3lkg5m4zq.p.temp-site.link/
# user : wmsrz
# db : wmsrz
# password : bismillah
